{% extends 'base.html' %}

{% block content %}
<h1>Medicine Details</h1>
<main>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ medicine[0] }}</td>
        </tr>
        <tr>
            <th>Your Name</th>
            <td>{{ medicine[1] }}</td>
        </tr>
        <tr>
            <th>Medicine Name</th>
            <td>{{ medicine[2] }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ medicine[3] }}</td>
        </tr>
    </table>
    <br>
    <button onclick="location.href='{{ url_for('index') }}'">Back</button>
</main>
{% endblock %}
